div.forum_post [id="#{dom_id(forum_post)}"]
  p.text-muted
    | Posted by #{forum_post.user.email}
  = markdownify forum_post.body 

scss:
  .forum_post {
    border-top: 1px solid #ccc;
    padding: 1rem 0;
    &:target {
      background: rgb(248, 238, 99);
      padding: 1rem;
    }
  }
