-# A notification dropdown item for recently-posted thread posts.
-# Required locals: notification

- path = forum_thread_path(notification.notifiable.forum_thread, anchor: dom_id(notification.notifiable))
- class_name = "unread" if !notification.read_at?

a.dropdown-item [href="#{path}" class="#{class_name}"]
  | #{notification.actor.email} #{notification.action} #{notification.notifiable_type.underscore.humanize.downcase}
